---
import { DocsHeading } from '../docs'

interface Props extends Partial<DocsHeading> {
    depth: number
    inline?: boolean
}
const { depth, slug, text, code, inline } = Astro.props
const id = typeof slug === 'string' ? slug : undefined
---

{
    text &&
        (function () {
            let content = code ? <code>{text}</code> : text
            if (inline === true) {
                return <b>{content}</b>
            }
            if (id) {
                content = (
                    <>
                        {content}
                        <a aria-hidden="true" tabindex="-1" href={'#' + id}>
                            <svg class="icon" viewBox="0 0 24 24" width="20" height="20">
                                <path d="M9 15l6 -6" />
                                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                            </svg>
                        </a>
                    </>
                )
            }
            switch (depth) {
                case 1:
                    return <h1 {id}>{content}</h1>
                case 2:
                    return <h2 {id}>{content}</h2>
                case 3:
                    return <h3 {id}>{content}</h3>
                case 4:
                    return <h4 {id}>{content}</h4>
                case 5:
                    return <h5 {id}>{content}</h5>
                case 6:
                    return <h6 {id}>{content}</h6>
            }
        })()
}
