---
interface Props {
    depth: number
    slug?: string | false
    text?: string
    code?: boolean
}
const { depth, slug, text, code } = Astro.props
const id = slug || undefined
---

{
    text &&
        (function () {
            const content = code ? <code>{text}</code> : text
            switch (depth) {
                case 1:
                    return <h1 {id}>{content}</h1>
                case 2:
                    return <h2 {id}>{content}</h2>
                case 3:
                    return <h3 {id}>{content}</h3>
                case 4:
                    return <h4 {id}>{content}</h4>
                case 5:
                    return <h5 {id}>{content}</h5>
                case 6:
                    return <h6 {id}>{content}</h6>
            }
        })()
}
