---
import { type GetStaticPaths } from 'astro'
import PageLayout from '../components/PageLayout.astro'
import { isContainer, isEntry } from '../model/model.js'
import NamedMember from '../model/components/NamedMember.astro'
import MemberList from '../model/components/MemberList.astro'
import { getNextPage, getPageGroup, getPreviousPage } from '../sidebar'
import DeclarationSection from '../model/components/DeclarationSection.astro'
import ExportsList from '../model/components/ExportsList.astro'

export const getStaticPaths = (async () => {
    return (
        globalThis.atlasReference?.pages.map(({ id, href, named }) => ({
            params: {
                id: id || undefined,
            },
            props: {
                named,
                href,
            },
        })) ?? []
    )
}) satisfies GetStaticPaths

const { named, href } = Astro.props

const group = getPageGroup(href)
const prev = getPreviousPage(href)
const next = getNextPage(href)
---

<PageLayout title={named.name} {href} headings={named.headings} {group} {prev} {next}>
    {
        named.release && (
            <span slot="subtitle">
                {named.release.url ? (
                    <a href={named.release.url}>{named.release.name}</a>
                ) : (
                    <>{named.release.name}</>
                )}
            </span>
        )
    }
    {isEntry(named) && <ExportsList heading={named.exports.heading} groups={named.groups} />}
    {
        named.declarations.map((dec) => (
            <section>
                <DeclarationSection declaration={dec} source />
                {isContainer(dec) && (
                    <>
                        <NamedMember named={dec.constructors} />
                        <NamedMember named={dec.callSignatures} />
                        <NamedMember named={dec.indexSignatures} />
                        <MemberList list={dec.staticMembers} />
                        <MemberList list={dec.members} />
                    </>
                )}
            </section>
        ))
    }
</PageLayout>

<style>
    span {
        background-color: var(--bg-code);
        padding: 0.2em 0.6em;
        border-radius: 1em;
    }
    span a:hover {
        text-decoration: underline;
        color: var(--accent-highlight);
    }
</style>

<style is:global>
    .astro-code a {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--sub);
        text-underline-offset: 16%;
        text-decoration-thickness: 8%;
    }
    .astro-code a:hover {
        z-index: 10;
        text-decoration: none;
    }
    .astro-code a:hover span {
        background-color: transparent !important;
        text-decoration: underline;
        text-underline-offset: 10%;
        text-decoration-thickness: 10%;
    }
</style>
